.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 0px 15px 15px 15px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.pointer {
  cursor: pointer;
}
.Create-Account-button {
  display: flex;
  min-width: 152px;
  justify-content: center;
  align-items: center;
  border-radius: 12px !important;
  background: var(--color-default);
  text-align: center !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: -0.264px !important;
  height: 35px !important;
  border: none !important;
}
.Cancel-button {
  border-radius: 12px !important;
  border: 1px solid var(--Red-Error, #f00) !important;
  display: flex !important;
  width: 152px !important;
  height: 35px !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--Red-Error, #f00) !important;
  text-align: center !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: -0.264px !important;
  background: #f0f6e3 !important;
}

.Cancel-button-smallModal {
  margin-bottom: 10px;
}
.update-button-smallModal {
  margin-bottom: 10px;
}
.dropdown-menu {
  min-width: 30px;
  color: black;
}
.dropdown-item .csv-item {
  color: black !important;
}

.fs-12 {
  font-size: 12px;
}
.width-75 {
  width: 75px;
}
.width-200 {
  width: 200px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-top-n13 {
  margin-top: -13px;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-top-22 {
  margin-top: 22px;
}
.margin-top-n10 {
  margin-top: -10px;
}

.margin-left-90 {
  margin-left: 90px;
}
.margin-left-220 {
  margin-left: 220px;
}
.width-100-90 {
  width: calc(100% - 90px);
}
.width-100-220 {
  width: calc(100% - 220px);
}
.width-30rem {
  width: 30rem;
}
